<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
    <hibernate-configuration>
    	<session-factory>
    	    <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/learners_academy</property>
    		<property name="hibernate.connection.username">root</property>
    		<property name="hibernate.connection.password">Suraj@2595</property>
    		<property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
    		<property name="hibernate.hbm2ddl.auto">update</property>
    		<property name="hibernate.show_sql">true</property>
    		<property name="hibernate.format.sql">true</property>
    		<mapping class="com.surajanbhule.util.Login"/>
    		<mapping class="com.surajanbhule.models.Classes"/>
    		<mapping class="com.surajanbhule.models.Student"/>
    		<mapping class="com.surajanbhule.models.Subject"/>
    		<mapping class="com.surajanbhule.models.Teacher"/>
    		
    	</session-factory>
    </hibernate-configuration>